target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
financius-to-moneymanager.iml

# test data files
financius.json
exported.tsv

# instance specific configuration
src/main/resources/application.yml